body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000;
  color: #FFF;
  overflow: hidden;
}

.App {
  text-align: center;
}

a:link {
  text-decoration: none;
}

.body-container {
}

/* Font Imports */
@font-face {
  font-family: 'LatoBold';
  src: local('Lato'), url('./fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('./fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'AbrilFatface';
  src: local('AbrilFatface'), url('./fonts/AbrilFatface-Regular.ttf') format('truetype');
}
